<h1>Login page</h1>

<form action="/login" method="POST">
  <input type="text" name="username" placeholder="username">
  <input type="password" name="password" placeholder="password">
  <input type="submit" value="Login">
</form>

<ul>
  <li><a href="/register">Sign up</a></li>
  <li><a href="/login">Login in</a></li>
  <li><a href="/logout">Log out</a></li>
</ul>
