<h2>Add new blog</h2>

<form action="/blogs" method="POST">
  <input type="text" name="blog[title]" placeholder="Blog name">
  <input type="text" name="blog[image]" placeholder="Blog image">
  <textarea name="blog[body]"></textarea>
  <input type="submit" value="Add new blog">
</form>

<a href="/blogs">Go back to blogs page</a>
